/*
 *
 *  Hooloovoo for InfoStud
 *
 */

body {
    background: indigo;
}

/* RESET */
#hlv div, #hlv span, #hlv h1, #hlv h2, #hlv h3, #hlv h4, #hlv h5, #hlv h6,
#hlv p, #hlv a, #hlv em, #hlv img, #hlv small, #hlv strong, #hlv ul, #hlv li
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
#hlv ol, #hlv ul {
    list-style: none;
}
/* /RESET */

/* General CSS */
/* Matori ne voli browsere koji su stariji od njega */
#hlv-dinosaur-browser {
    color: #000;
    margin: 0.2em 0;
    background: #ccc;
    padding: 0.2em 0;
}

#hlv {
    width: 1190px;
    margin: 0 auto;
    line-height: 1;
	padding-bottom: 400px;
    background: url("../img/temp-1190.jpg") top center no-repeat;
}

    #hlv h1, #hlv h2, #hlv h3, #hlv h4, #hlv h5, #hlv h6 {
        font-weight: 200;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
    }
        #hlv h1 span, #hlv h2 span, #hlv h3 span, #hlv h4 span, #hlv h5 span, #hlv h6 span {
            font-weight: 400;
        }

    #hlv h2 {
        font-size: 34px;
    }

    #hlv p {
        font-weight: 300;
        font-family: 'Source Sans Pro', sans-serif;
    }
        #hlv p strong {
            font-weight: 700;
        }
/* /General CSS */



/* Common */
#hlv div.hlv-block {
    width: 840px;
    margin: 0 auto;
    box-sizing: border-box;
}
    #hlv .hlv-block-content-split {
        font-size: 0;
        margin: 0 auto;
    }
        #hlv .hlv-block-content-split-left {
            width: 50%;
            padding: 0 0 0 15px;
            vertical-align: top;
            display: inline-block;
            box-sizing: border-box;
        }
        #hlv .hlv-block-content-split-right {
            width: 50%;
            padding: 0 0 0 30px;
            vertical-align: top;
            display: inline-block;
            box-sizing: border-box;
        }

#hlv a.hlv-btn-primary {
    -webkit-transition: all 320ms ease-in-out;
    -moz-transition: all 320ms ease-in-out;
    -o-transition: all 320ms ease-in-out;
    transition: all 320ms ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    width: 162px;
    height: 36px;
    color: #FFFFFF;
    font-size: 20px;
    overflow: hidden;
    line-height: 36px;
    position: relative;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    background: url("../img/hlv-bg-btn-primary-whover.png") top right repeat-y #479d45;
}
    #hlv a.hlv-btn-primary:hover {
        color: #479d45;
        background: url("../img/hlv-bg-btn-primary-whover.png") top left repeat-y #479d45;
    }
    /*#hlv a.hlv-btn-primary:active {*/
        /*box-shadow: inset 0 0 10px #479d45;*/
    /*}*/
        #hlv a.hlv-btn-primary:after,
        #hlv a.hlv-btn-primary:before {
            top: 50%;
            z-index: 120;
            content: '';
            right: 13px;
            width: 10px;
            height: 10px;
            position: absolute;
            background: #479d45;
            margin: -5px -35px 0 0;
            transition-property: transform;
            transition-duration: .45s;
            transition-timing-function: ease-in-out;
        }
        #hlv a.hlv-btn-primary:before {
            opacity: 0;
            z-index: 130;
            background: #FFFFFF;
        }
            #hlv a.hlv-btn-primary:hover:after {
                transform: translateX(-35px) rotate(450deg);
                box-shadow: 0 0 0 rgba(71, 157, 69, 0.7);
                animation: ripple 2s infinite;
                animation-delay: 1s;
            }
            #hlv a.hlv-btn-primary:hover:before {
                margin-right: 0;
                animation: pop 2s infinite;
                animation-delay: 1s;
            }

                @keyframes ripple {
                    10% {
                        box-shadow: 0 0 0 0 rgba(71, 157, 69, 0.7);
                    }
                    35% {
                        box-shadow: 0 0 0 11px rgba(71, 157, 69, 0);
                    }
                    40% {
                        box-shadow: 0 0 0 0 rgba(71, 157, 69, 0);
                    }
                    50% {}
                    100% {}
                }
                @keyframes pop {
                    1% {
                        opacity: 1;
                        transform: scale(0.1);
                    }
                    0% {
                        opacity: 1;
                        transform: scale(0.8);
                    }
                    10% {
                        opacity: 1;
                        transform: scale(1);
                    }
                    10.1% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 0;
                        transform: scale(0.1);
                    }
                }
/* /Common */



/* Layout blocks */
#hlv-block-a, #hlv-block-b, #hlv-block-c, #hlv-block-d,
#hlv-block-e, #hlv-block-f, #hlv-block-g, #hlv-block-h,
#hlv-block-i, #hlv-block-j, #hlv-block-k {
    overflow: auto;
}
/* Block A */
#hlv-block-a {
    height: 680px;
    position: relative;
    background: url("../img/hlv-bg-block-a.jpg") top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    #hlv-block-a:after {
        left: 50%;
        bottom: 0;
        height: 617px;
        width: 338px;
        content: '';
        display: block;
        position: absolute;
        margin: 0 0 0 -400px;
        background: url("../img/hlv-bg-block-a-matori-dev.png") top center no-repeat;
        background-size: 338px 617px;
    }
    #hlv-block-a .hlv-block {}
        #hlv-block-a .hlv-block-content {
            width: 47.5%;
            float: right;
            margin: 156px 0 0 0;
        }
            #hlv-block-a h1 {
                margin: 0;
                padding: 0;
                height: 26px;
                width: 200px;
                text-indent: -9999px;
				background: url("../img/hlv-hor-logo-white.svg") top center no-repeat;
				background-size: 200px auto;
            }
            #hlv-block-a h2 {
                width: 300px;
                color: #FFFFFF;
                line-height: 40px;
                margin: 30px 0 0 0;
            }
            #hlv-block-a p {
                width: 370px;
                color: #FFFFFF;
                font-size: 16px;
                margin: 20px 0 0 0;
                line-height: 1.15em;
            }
                #hlv-block-a strong {
                    display: block;
                }
            #hlv-block-a h3 {
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 400;
                margin: 56px 0 0 0;
                letter-spacing: 0.01em;
            }
            #hlv-block-a a.hlv-btn-primary {
                margin: 20px 0 0 0;
            }
/* /Block A */

/* Block B */
#hlv-block-b {
    position: relative;
    background: #479d45;
}
    #hlv-block-b:after {
        left: 50%;
        bottom: 34px;
        height: 328px;
        width: 332px;
        content: '';
        margin-left: -381px;
        display: block;
        position: absolute;
        background: url("../img/hlv-bg-block-b.png") top center no-repeat;
        background-size: 332px 328px;
    }
    #hlv-block-b .hlv-block {}
        #hlv-block-b .hlv-block-content {
            width: 47.5%;
            float: right;
            margin: 29px 0 0 0;
        }
        #hlv-block-b h2 {
            color: #FFFFFF;
            line-height: 1.2em;
        }
            #hlv-block-b h2 span {
                display: block;
            }
        #hlv-block-b p {
            width: 370px;
            color: #FFFFFF;
            margin: 47px 0 0 0;
            line-height: 1.2em;
        }
            #hlv-block-b p:last-child {
                margin: 25px 0 46px 0;
            }
/* /Block B */

/* Block C */
#hlv-block-c {
    /*height: 626px;*/
    overflow: auto;
    background: #666666;
}
    #hlv-block-c .hlv-block {}
        #hlv-block-c .hlv-block-content {
            padding: 96px 0 66px 0;
        }
        #hlv-block-c .hlv-block-content-split {}
            #hlv-block-c .hlv-block-content-split-left {}
                #hlv-block-c .hlv-block-content-split-left h2 {
                    color: #FFFFFF;
                    margin: 0 0 26px 0;
                    position: relative;
                    background: #479d45;
                    padding: 2px 0 3px 0;
                }
                    #hlv-block-c .hlv-block-content-split-left h2:before {
                        top: 0;
                        bottom: 0;
                        left: calc(50%*-1);
                        right: 100%;
                        content: '';
                        display: block;
                        position: absolute;
                        background: #479d45;
                    }
                    #hlv-block-c .hlv-block-content-split-left h2 span {
                        font-weight: 400;
                    }
                #hlv-block-c .hlv-block-content-split-left p {
                    width: 94%;
                    color: #FFFFFF;
                    font-size: 16px;
                    line-height: 1.2em;
                    margin: 17px 0 0 0;
                }
                    #hlv-block-c .hlv-block-content-split-left p strong {
                        font-weight: 400;
                    }

            #hlv-block-c .hlv-block-content-split-right {}
                #hlv-block-c .hlv-block-content-split-right h2 {
                    color: #FFFFFF;
                    padding: 2px 0 0 0;
                    margin: 0 0 20px 0;
                }
                    #hlv-block-c .hlv-block-content-split-right h2 span {
                        font-weight: 400;
                    }
                #hlv-block-c .hlv-block-content-split-right > p {
                    color: #FFFFFF;
                    font-size: 16px;
                }
                #hlv-block-c .hlv-block-content-split-right ul {
                    margin: 20px 0 0 0;
                }
                    #hlv-block-c .hlv-block-content-split-right li {
                        overflow: auto;
                        padding: 0 0 35px 0;
                    }
                        #hlv-block-c .hlv-block-content-split-right li span {
                            -webkit-border-radius: 72px;
                            -moz-border-radius: 72px;
                            border-radius: 72px;
                            float: left;
                            width: 72px;
                            height: 72px;
                            display: block;
                            margin: 0 5px 0 0;
                        }
                        #hlv-block-c .hlv-block-content-split-right li h5 {
                            color: #FFFFFF;
                            font-size: 18px;
                        }
                            #hlv-block-c .hlv-block-content-split-right li h5 small {
                                display: block;
                                color: #99c582;
                                padding: 4px 0 0 0;
                            }
                        #hlv-block-c .hlv-block-content-split-right li p {
                            color: #FFFFFF;
                            font-size: 13px;
                            line-height: 1.2em;
                            padding: 0 40px 0 0;
                        }
                            #hlv-block-c .hlv-block-content-split-right li p em {
                                display: block;
                                font-style: normal;
                            }
                    /* FEIS */
                    #hlv-feis-darmak {}
                        #hlv-feis-darmak span {
                            background: url("../img/hooloovoo-feis-darko-maksimovic.png") top center no-repeat;
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            -o-background-size: cover;
                            background-size: cover;
                        }
                    #hlv-feis-sreant {}
                        #hlv-feis-sreant span {
                            background: url("../img/hooloovoo-feis-sreten-antic.png") top center no-repeat;
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            -o-background-size: cover;
                            background-size: cover;
                        }
                    #hlv-feis-tomtom {}
                        #hlv-feis-tomtom span {
                            background: url("../img/hooloovoo-feis-tomislav-tomcic.png") top center no-repeat;
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            -o-background-size: cover;
                            background-size: cover;
                        }
                    /* /FEIS */
/* /Block C */

/* Block D */
#hlv-block-d {
    background: #4d4d4d;
}
    #hlv-block-d .hlv-block {}
        #hlv-block-d .hlv-block-content {}
            #hlv-block-d p {
                color: #FFFFFF;
                font-size: 24px;
                font-weight: 200;
                line-height: 50px;
                text-align: center;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
            }
            #hlv-block-d .hlv-block a {
                vertical-align: top;
                margin: 7px 0 0 100px;
                display: inline-block;
                transform: translateX(-40px);
            }
/* /Block D */

/* Block E */
#hlv-block-e {
    height: 656px;
    background: url("../img/hlv-bg-block-e.jpg") top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    #hlv-block-e .hlv-block {}
        #hlv-block-e .hlv-block-content {}
/* /Block E */

/* Block F */
#hlv-block-f {
    background: #e6e6e6;
}
    #hlv-block-f .hlv-block {}
        #hlv-block-f .hlv-block-content {
            padding: 100px 0 0 0;
        }
            #hlv-block-f .hlv-block-content-split {}
                #hlv-block-f .hlv-block-content-split-left {
                    position: relative;
                    padding: 0 20px 76px 170px;
                }
                    #hlv-block-f .hlv-block-content-split-left:before {
                        top: -12px;
                        left: -46px;
                        content: '';
                        width: 203px;
                        height: 292px;
                        position: absolute;
                        background: url("../img/hlv-bg-block-f.png");
                        -webkit-background-size: auto 292px;
                        background-size: 203px 292px;
                    }
                    #hlv-block-f .hlv-block-content-split-left h2 {
                        color: #479d45;
                        font-weight: 400;
                    }
                    #hlv-block-f .hlv-block-content-split-left p {
                        width: 94%;
                        color: #767676;
                        font-size: 16px;
                        line-height: 1.2em;
                        margin: 20px 0 0 0;
                    }
                        #hlv-block-f .hlv-block-content-split-left p strong {}

                #hlv-block-f .hlv-block-content-split-right {}
                    #hlv-block-f .hlv-block-content-split-right h2 {
                        color: #479d45;
                        margin: 0 0 20px 0;
                    }
                        #hlv-block-f .hlv-block-content-split-right h2 span {
                            font-weight: 400;
                        }
                    #hlv-block-f .hlv-block-content-split-right ul {
                        margin: 20px 0 0 0;
                    }
                        #hlv-block-f .hlv-block-content-split-right li {
                            overflow: auto;
                            padding: 0 0 35px 0;
                        }
                            #hlv-block-f .hlv-block-content-split-right li span {
                                -webkit-border-radius: 72px;
                                -moz-border-radius: 72px;
                                border-radius: 72px;
                                float: left;
                                width: 72px;
                                height: 72px;
                                display: block;
                                margin: 0 5px 0 0;
                            }
                            #hlv-block-f .hlv-block-content-split-right li h5 {
                                color: #767676;
                                font-size: 18px;
                            }
                                #hlv-block-f .hlv-block-content-split-right li h5 small {
                                    display: block;
                                    color: #99c582;
                                    padding: 4px 0 0 0;
                                }
                            #hlv-block-f .hlv-block-content-split-right li p {
                                color: #767676;
                                font-size: 13px;
                                line-height: 1.2em;
                                padding: 0 40px 0 0;
                            }
                        /* UNIBET */
                        #hlv-unibet-markov {}
                            #hlv-unibet-markov span {
                                background: url("../img/hooloovoo-unibet-marko-kovacevic.png") top center no-repeat;
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                            }
                        #hlv-unibet-brajov {}
                            #hlv-unibet-brajov span {
                                background: url("../img/hooloovoo-unibet-branko-jovicic.png") top center no-repeat;
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                            }
                        /* /UNIBET */
/* /Block F */

/* Block G */
#hlv-block-g {
    background: #FFFFFF;
}
    #hlv-block-g .hlv-block {}
        #hlv-block-g .hlv-block-content {}
            #hlv-block-g p {
                color: #767676;
                font-size: 16px;
                line-height: 44px;
                text-align: center;
                text-transform: uppercase;
            }
/* /Block G */

/* Block H */
#hlv-block-h {
    position: relative;
    background: #f2f2f2;
}
    #hlv-block-h:before {
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        position: absolute;
        background: #b3b3b3;
    }
    #hlv-block-h .hlv-block {}
        #hlv-block-h .hlv-block-content {}
            #hlv-block-h .hlv-block-content-split {}
                #hlv-block-h .hlv-block-content-split-left {
                    z-index: 3;
                    position: relative;
                    padding: 50px 0 0 15px;
                }
                    #hlv-block-h .hlv-block-content-split-left p {
                        color: #767676;
                        font-size: 26px;
                        padding: 0 32px 0 0;
                        line-height: 1.175em;
                        text-transform: uppercase;
                        font-family: 'Oswald', sans-serif;
                    }
                        #hlv-block-h .hlv-block-content-split-left p strong {
                            font-weight: 400;
                        }
                #hlv-block-h .hlv-block-content-split-right {
                    position: relative;
                    padding: 50px 0 52px 30px;
                }
                    #hlv-block-h .hlv-block-content-split-right h3 {
                        color: #FFFFFF;
                        font-size: 34px;
                        padding: 0 0 38px 0;
                    }
                        #hlv-block-h .hlv-block-content-split-right h3 span {
                            display: block;
                        }
                    #hlv-block-h .hlv-block-content-split-right a {}
/* /Block H */

/* Block I */
#hlv-block-i {
    background: #FFFFFF;
}
    #hlv-block-i .hlv-block {}
        #hlv-block-i .hlv-block-content {
            padding: 50px 0 51px 15px;
        }
            #hlv-block-i h3 {
                color: #479d45;
                font-size: 34px;
                font-weight: 400;
                padding: 0 0 27px 0;
            }
                #hlv-block-i h3 span {
                    display: block;
                    font-weight: 200;
                }
                #hlv-block-i p {
                    color: #767676;
                    font-size: 16px;
                    line-height: 1.2em;
                }
                    #hlv-block-i p:last-child {
                        padding: 15px 0 0 0;
                    }
                    #hlv-block-i p strong {}
/* /Block I */

/* Block J */
#hlv-block-j {
    position: relative;
    background: #74b054;
}
    #hlv-block-j:after {
        top: 0;
        left: 50%;
        content: '';
        width: 303px;
        height: 189px;
        display: block;
        position: absolute;
        margin: 0 0 0 -360px;
        animation: blast-of-past 36s infinite;
        background-size: 303px 189px;
    }
    @keyframes blast-of-past {
        0% {
            background: url("../img/hlv-bg-block-promise-amigkeyboard.png") top center no-repeat;
            background-size: 303px 189px;
        }
            8.29% {
                background: url("../img/hlv-bg-block-promise-amigkeyboard.png") top center no-repeat;
                background-size: 303px 189px;
            }
        8.3% {
            background: url("../img/hlv-bg-block-promise-tablefootball.png") top center no-repeat;
            background-size: 303px 189px;
        }
            16.59% {
                background: url("../img/hlv-bg-block-promise-tablefootball.png") top center no-repeat;
                background-size: 303px 189px;
            }
        16.6% {
            background: url("../img/hlv-bg-block-promise-beach.png") top center no-repeat;
            background-size: 303px 189px;
        }
            24.89% {
                background: url("../img/hlv-bg-block-promise-beach.png") top center no-repeat;
                background-size: 303px 189px;
            }
        24.9% {
            background: url("../img/hlv-bg-block-promise-playstation4pro.png") top center no-repeat;
            background-size: 303px 189px;
        }
            33.19% {
                background: url("../img/hlv-bg-block-promise-playstation4pro.png") top center no-repeat;
                background-size: 303px 189px;
            }
        33.2% {
            background: url("../img/hlv-bg-block-promise-bttfdelorean.png") top center no-repeat;
            background-size: 303px 189px;
        }
            41.49% {
                background: url("../img/hlv-bg-block-promise-bttfdelorean.png") top center no-repeat;
                background-size: 303px 189px;
            }
        41.5% {
            background: url("../img/hlv-bg-block-promise-suitcase.png") top center no-repeat;
            background-size: 303px 189px;
        }
            49.79% {
                background: url("../img/hlv-bg-block-promise-suitcase.png") top center no-repeat;
                background-size: 303px 189px;
            }
        49.8% {
            background: url("../img/hlv-bg-block-promise-gibsonlespaul.png") top center no-repeat;
            background-size: 303px 189px;
        }
            58.09% {
                background: url("../img/hlv-bg-block-promise-gibsonlespaul.png") top center no-repeat;
                background-size: 303px 189px;
            }
        58.1% {
            background: url("../img/hlv-bg-block-promise-pc.png") top center no-repeat;
            background-size: 303px 189px;
        }
            66.39% {
                background: url("../img/hlv-bg-block-promise-pc.png") top center no-repeat;
                background-size: 303px 189px;
            }
        66.4% {
            background: url("../img/hlv-bg-block-promise-boxershorts.png") top center no-repeat;
            background-size: 303px 189px;
        }
            74.69% {
                background: url("../img/hlv-bg-block-promise-boxershorts.png") top center no-repeat;
                background-size: 303px 189px;
            }
        74.7% {
            background: url("../img/hlv-bg-block-promise-tabletennis.png") top center no-repeat;
            background-size: 303px 189px;
        }
            82.99% {
                background: url("../img/hlv-bg-block-promise-tabletennis.png") top center no-repeat;
                background-size: 303px 189px;
            }
        83% {
            background: url("../img/hlv-bg-block-promise-sonywalkman.png") top center no-repeat;
            background-size: 303px 189px;
        }
            91.29% {
                background: url("../img/hlv-bg-block-promise-sonywalkman.png") top center no-repeat;
                background-size: 303px 189px;
            }
        91.3% {
            background: url("../img/hlv-bg-block-promise-comfychair.png") top center no-repeat;
            background-size: 303px 189px;
        }
            100% {
                background: url("../img/hlv-bg-block-promise-comfychair.png") top center no-repeat;
                background-size: 303px 189px;
            }
    }
    #hlv-block-j .hlv-block {}
        #hlv-block-j .hlv-block-content {
            width: 46.5%;
            float: right;
            padding: 40px 0 37px 0;
        }
            #hlv-block-j h2 {
                color: #FFFFFF;
                font-weight: 500;
            }
            #hlv-block-j p {
                color: #FFFFFF;
                font-size: 16px;
                line-height: 1.2em;
                padding: 22px 0 0 0;
            }
                #hlv-block-j p span {
                    display: block;
                }
/* /Block J */

/* Block K */
#hlv-block-k {
    background: #479d45;
}
    #hlv-block-k .hlv-block {}
        #hlv-block-k .hlv-block-content {
			padding: 48px 0 36px 0;
		}
            #hlv-block-k ul {
				font-size: 0;
			}
                #hlv-block-k li {
					width: 50%;
					font-size: 0;
					vertical-align: top;
					display: inline-block;
					box-sizing: border-box;
					padding: 0 0 0 17px;
				}
                    #hlv-block-k li span {
						float: left;
						width: 89px;
						height: 89px;
						margin: 0 12px 49px 0;
						background: #72af53;
						display: inline-block;
					}
                    #hlv-block-k li h5 {
						color: #FFFFFF;
						font-size: 16px;
						padding: 0 0 2px 0;
					}
                    #hlv-block-k li p {
						color: #FFFFFF;
						font-size: 16px;
						line-height: 1.2em;
						padding: 0 18px 0 0;
					}
				/* Benefits */
				#hlv-block-k #hlv-benefits-salary {}
					#hlv-block-k #hlv-benefits-salary span {
						background: url("../img/hlv-bg-benefits-salary.svg") top center no-repeat;
					}
				#hlv-block-k #hlv-benefits-parking {}
					#hlv-block-k #hlv-benefits-parking span {
						background: url("../img/hlv-bg-benefits-parking.svg") top center no-repeat;
					}
				#hlv-block-k #hlv-benefits-comfy {
					padding: 0 0 0 30px;
				}
					#hlv-block-k #hlv-benefits-comfy span {
						background: url("../img/hlv-bg-benefits-comfy.svg") top center no-repeat;
					}
				#hlv-block-k #hlv-benefits-ballet {
					padding: 0 0 0 30px;
				}
					#hlv-block-k #hlv-benefits-ballet span {
						background: url("../img/hlv-bg-benefits-ballet.svg") top center no-repeat;
					}
				/* /Benefits */
/* /Block K */

/* Block L */
#hlv-block-l {
	position: relative;
	background: #FFFFFF;
}
	#hlv-block-l:before {
		content: '';
		top: 0;
		right: 50%;
		bottom: 0;
		left: 0;
		z-index: 25;
		position: absolute;
		background: #f2f2f2;
	}
    #hlv-block-l .hlv-block {
		z-index: 50;
		position: relative;
	}
        #hlv-block-l .hlv-block-content {
			padding: 0 0 80px 0;
		}
            #hlv-block-l .hlv-block-content-split {}
                #hlv-block-l .hlv-block-content-split-left {
					padding: 90px 22px 0 47px;
				}
                    #hlv-block-l .hlv-block-content-split-left p {
						color: #767676;
						font-size: 18px;
						line-height: 1.25em;
						text-transform: uppercase;
						font-family: 'Oswald', sans-serif;
					}
                        #hlv-block-l .hlv-block-content-split-left p strong {
							font-weight: 400;
						}
                #hlv-block-l .hlv-block-content-split-right {
					position: relative;
					padding: 90px 0 0 268px;
				}
					#hlv-block-l .hlv-block-content-split-right:before {
						top: 10px;
						left: 60px;
						content: '';
						width: 188px;
						height: 269px;
						color: #FFFFFF;
						display: block;
						position: absolute;
						margin: -25px 0 0 0;
						text-indent: -9999px;
						background: url("../img/hlv-bg-matoridevskate.png") top center no-repeat;
						background-size: 188px 269px;
					}
                    #hlv-block-l .hlv-block-content-split-right h2 {
						font-size: 0;
						width: 162px;
						height: 33px;
						color: #FFFFFF;
						text-indent: -9999px;
						background: url("../img/hlv-hor-logo-green-slogan-gray.svg") center center no-repeat;
						background-size: auto 33px;
					}
                        #hlv-block-l .hlv-block-content-split-right h2 small {}
                        #hlv-block-l .hlv-block-content-split-right a {
							margin-top: 24px;
						}
/* /Block L */
/* /Layout blocks */



/* Responsive */
/* Mobile */
	/*  240px/319px */
	@media screen and (min-width: 240px) and (max-width: 319px) {}

    /*  320px/359px */
	@media screen and (min-width: 320px) and (max-width: 359px) {}

	/*  360px/479px */
	@media screen and (min-width: 360px) and (max-width: 479px) {}

	/*  480px/539px */
	@media screen and (min-width: 480px) and (max-width: 539px) {}

    /*  540px/639px */
	@media screen and (min-width: 540px) and (max-width: 639px) {}

	/*  640px/719px */
	@media screen and (min-width: 640px) and (max-width: 719px) {}

	/*  720px/767px */
	@media screen and (min-width: 720px) and (max-width: 767px) {}

	/*  768px/959px */
	@media screen and (min-width: 768px) and (max-width: 959px) {}

/* /Mobile */
/* Desktop */
	/*  960px/1023px =  676px InfoStud break point */
	@media screen and (min-width: 960px) and (max-width: 1023px) {}

	/* 1024px/1049px =  724px */
	@media screen and (min-width: 1024px) and (max-width: 1049px) {}

	/* 1050px/1189px =  744px */
	@media screen and (min-width: 1050px) and (max-width: 1189px) {}

	/* 1190px/1199px =  849px */
	@media screen and (min-width: 1190px) and (max-width: 1199px) {}

	/* 1200px/1223px =  856px */
	@media screen and (min-width: 1200px) and (max-width: 1223px) {}

	/* 1224px/1439px =  857px */
	@media screen and (min-width: 1224px) and (max-width: 1439px) {}

	/* 1440px/1599px = 1019px */
	@media screen and (min-width: 1440px) and (max-width: 1599px) {}

	/* 1600px/1679px = 1140px */
	@media screen and (min-width: 1600px) and (max-width: 1679px) {}

	/* 1680px/1919px = 1191px */
	@media screen and (min-width: 1680px) and (max-width: 1919px) {}

	/* 1920px/2559px = 1191px */
	@media screen and (min-width: 1920px) and (max-width: 2559px) {}

	/* 2560px ... */
	@media screen and (min-width: 2560px) {}

/* /Desktop */
/* /Responsive */

/*
 * When I wrote this, only God and I understood what I was doing
 * Now, God only knows
 */
